.header {
  margin: 0 200px;
  padding: 0;
  display: flex;
  align-content: flex-start;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0 120px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 70px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0;
  }
}
